:root {
  --main: #00e0d5;
  --color1: #000000;
  --color2: #6b6b6b;
  --text: #cdcdcd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--color1);
  overflow-x: hidden;
}

/* Page */
.page {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.title {
  text-transform: capitalize;
  color: var(--main);
  margin-bottom: 1rem;
  font-size: 1.6rem;
  margin-top: 1rem;
}

/* Navbar */
.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--color1);
  color: var(--text);
  padding: 0px 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  height: auto;
  max-width: 70px;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.3s ease;
  font-weight: 800;
}

.menu-container a:hover {
  color: var(--main);
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--main);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(3px, -1px);
  background: var(--main);
}

.menu-container input:checked~span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked~span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 767px) {
  .menu-container {
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
  }

  .menu-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    max-height: 60px;
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: var(--color1);
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  .menu-container input:checked~.menu {
    transform: translateX(-100%);
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #cdcdcd;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}

/* Home page */
.home_page {
  display: flex;
}

.home_page .left,
.home_page .right {
  width: 50%;
}

.home_page .left {
  display: flex;
  align-items: center;
  margin-top: 6rem;
  flex-direction: column;
}

.home_page .left h1 {
  width: 80%;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--color2);
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.home_page .left h1 .hello {
  display: block;
}

.home_page .left h1 .Name {
  color: var(--main);
  font-size: 2.2rem;
}

.home_page .left h1 .job_role {
  color: var(--text);
}

.home_page .left .list {
  width: 80%;
  height: auto;
  display: flex;
  padding: 0px 4px;
  gap: 1rem;
  margin-bottom: 3rem;
}

.home_page .left .list li {
  padding: 2px 14px;
  transition: all 0.6s ease-in-out;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.home_page .left .list li a {
  font-size: 3rem;
  color: var(--color2);
}

.home_page .left .list li:hover {
  /* border-bottom: 2px solid var(--main); */
  box-shadow: #00e0d559 0px -50px 36px -28px inset;
}

.home_page .left .list li:hover a {
  color: var(--main);
}

.home_page .left .btn {
  width: 80%;
  padding: 0px 4px;
}

.home_page .left .btn a {
  padding: 14px 46px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin-bottom: 40px;
  box-shadow: inset 2px 2px 5px 1px var(--main), inset -2px -2px 5px 1px var(--main);
  color: var(--main);
  transition: all 0.6s ease;
  font-weight: 600;
  border-radius: 5px;
}

.home_page .left .btn a:hover {
  background-color: var(--main);
  color: var(--color1);
}

.home_page .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_page .right .spinner {
  width: 200px;
  /* Adjusted width to 200px */
  height: 200px;
  /* Adjusted height to 200px */
  position: relative;
  animation: spinner-y0fdc1 4s infinite ease-out;
  transform-style: preserve-3d;
}

.home_page .right .spinner>div {
  background-color: rgba(0, 224, 213, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
  border: 3.5px solid #00e0d5;
  box-sizing: border-box;
  /* Ensure border doesn't affect size */
}

.home_page .right .spinner div:nth-of-type(1) {
  transform: translateZ(100px);
  /* Adjusted for new size */
}

.home_page .right .spinner div:nth-of-type(2) {
  transform: rotateY(90deg) translateZ(100px);
  /* Adjusted for new size */
}

.home_page .right .spinner div:nth-of-type(3) {
  transform: rotateY(180deg) translateZ(100px);
  /* Adjusted for new size */
}

.home_page .right .spinner div:nth-of-type(4) {
  transform: rotateY(-90deg) translateZ(100px);
  /* Adjusted for new size */
}

.home_page .right .spinner div:nth-of-type(5) {
  transform: rotateX(90deg) translateZ(100px);
  /* Adjusted for new size */
}

.home_page .right .spinner div:nth-of-type(6) {
  transform: rotateX(-90deg) translateZ(100px);
  /* Adjusted for new size */
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  50% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}


@media screen and (max-width: 900px) {
  .home_page {
    flex-direction: column;
  }

  .home_page .left {
    width: 100%;
    min-height: 100vh;
    margin-top: 2rem;
  }

  .home_page .left h1 .Name {
    display: block;
  }

  .home_page .right {
    display: none;
  }

  .home_page .left h1 {
    font-size: 1.8rem;
  }
}

/* About Page */
.about_page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.about_page .about_me {
  color: var(--text);
  width: 80%;
  text-align: center;
  line-height: 2rem;
  font-size: 1.1rem;
  margin-bottom: 4rem;
}

.about_page .about_me span {
  color: var(--main);
  font-weight: bold;
  font-size: 1.4rem;
}

.profile_image {
  overflow: hidden;
  border-radius: 62% 38% 61% 39% / 62% 39% 61% 38%;
  width: 220px;
  height: 220px;
  border: 4px solid var(--main);
  margin-bottom: 2rem;
}

.profile_image .img {
  width: 100%;
  height: auto;
  object-fit: center;
  border-radius: 40px;
  filter: grayscale(90%);
}

@media screen and (max-width: 800px) {
  .about_page .about_me {
    width: 90%;
  }
}

/* Education */
.about_page .cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.about_page .cards .card {
  width: 360px;
  height: auto;
  display: flex;
  border: 2px solid var(--main);
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: inset 10px 10px 73px -7px var(--main);
  border-radius: 5px;
}

.about_page .cards .card .left {
  padding: 20px;
}

.about_page .cards .card .left h1 {
  color: var(--main);
  font-size: 2rem;
}

.about_page .cards .card .right .Name {
  font-size: 1rem;
  color: var(--text);
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.about_page .cards .card .right .course {
  color: var(--color2);
}

/* Skills Page */
.skills_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}

.skills_page .skills {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

.skills_page .skills .stack {
  /* background-color: var(--color2); */
  padding: 1rem 1.4rem;
  display: flex;
  gap: 20px;
  width: 350px;
  flex-wrap: wrap;
  box-shadow: inset 10px 10px 73px -7px var(--main);
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 2rem;
}

.skills_page .skills .stat_table {
  margin-bottom: 1rem;
}

.skills_page .skills .stat_table tr th,
.skills_page .skills .stat_table tr td {
  padding: 5px;
}

.skills_page .skills .stat_table tr td {
  color: var(--text);
  font-size: 1.1rem;
}

.skills_page .typing {
  color: var(--main);
  width: 100%;
  text-align: center;
}

@media screen and (max-width:800px) {
  .skills_page .skills {
    gap: 1rem;
    margin-bottom: 4rem;
  }
}

/* Projects Page */
.projects_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.projects_page .cards {
  width: 90%;
  overflow: hidden;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4rem;
  margin-top: 1rem;
}


.projects_page .cards .card {
  width: 360px;
  height: auto;
  overflow: hidden;
  background-color: var(--text);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 6px;
  border: 4px solid var(--text);
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects_page .cards .card .content {
  padding: 0.6rem 1rem 0rem;
}

.projects_page .cards .card .content .card_title {
  color: var(--color1);
  margin-bottom: 0.8rem;
}

.projects_page .cards .card .content .card_subtitle {
  color: var(--color2);
}

.projects_page .cards .card .main .image {
  width: 100%;
}

.projects_page .cards .card .main .image .img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.projects_page .cards .card .btn {
  height: auto;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  padding: 0.4rem 1rem;
}

.projects_page .cards .card .btn a {
  color: var(--color1);
  background-color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1rem;
  border: 2px solid var(--color2);
  transition: all 0.4s ease-in;
}

.projects_page .cards .card .btn a:hover {
  color: var(--main);
  background-color: var(--color1);
  border-color: var(--main);
}

/* Contact Page */
.contact_page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.contact_page .main {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
}

.contact_page .main .left,
.contact_page .main .right {
  width: 50%;
  height: auto;
}

.contact_page .main .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_page .main .right .details {
  width: 360px;
}

.contact_page .main .right .details tr {
  display: flex;
}

.contact_page .main .right .details tr th,
.contact_page .main .right .details tr td {
  padding: 0.5rem 1rem;
}

.contact_page .main .right .details tr td {
  color: var(--text);
}

.contact_page .main .right .details tr th {
  color: var(--main);
}

.contact_page .main .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
}

.contact_page .main .left form {
  width: 350px;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}


.contact_page .main .left form input[type="text"],
.contact_page .main .left form input[type="email"],
.contact_page .main .left form textarea {
  background-color: var(--color1);
  color: var(--text);
  padding: 12px 18px;
  font-size: 1rem;
  border: 2px solid var(--color2);
  border-radius: 4px;
  outline: none;
}

.contact_page .main .left form input[type="text"]:focus,
.contact_page .main .left form input[type="email"]:focus,
.contact_page .main .left form textarea:focus {
  border-color: var(--main);
}

.contact_page .main .left form textarea {
  resize: none;
  font-size: 1rem;
  height: 8rem;
}

.contact_page .main .left form input[type="submit"] {
  padding: 14px 46px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  margin-bottom: 40px;
  box-shadow: inset 2px 2px 5px 1px var(--main), inset -2px -2px 5px 1px var(--main);
  color: var(--main);
  transition: all 0.6s ease;
  font-weight: 400;
  border-radius: 5px;
  background-color: var(--color1);
}

.contact_page .main .left form input[type="submit"]:hover {
  background-color: var(--main);
  color: var(--color1);
  border: none;
}

@media screen and (max-width: 800px) {

  .contact_page .main .left,
  .contact_page .main .right {
    width: 100%;
    min-height: 80vh;
  }

  .contact_page .main {
    align-items: center;
    flex-direction: column-reverse;
  }

  .contact_page .main .left {
    padding-top: 6rem;
  }
}